In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import geopandas as gpd

%matplotlib inline
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

# To increase the number of rows pandas will print before truncation
pd.set_option('display.max_rows', 500)

# To increase the number of columns pandas will print before truncation
pd.set_option('display.max_columns', 100)

# To increase the width of each column pandas will print before truncating.
pd.set_option('display.max_colwidth',100)

In [18]:
states = gpd.read_file('./data/shapefiles/tl_2017_us_state.shp')
states.rename(columns={'NAME':'State Name'}, inplace=True)
df_states = states[['State Name', 'REGION','DIVISION']]
df_states
df = pd.read_csv('data/VSRR_Provisional_Drug_Overdose_Death_Counts.csv')
df = pd.merge(df, df_states, on='State Name')

In [19]:
df['Year'] = df['Year'].astype(str)
df['Month'] = df['Month'].astype(str)
df['Date'] = df['Year'] +'-'+ df['Month']
df['Date'] = [datetime.strptime(x, '%Y-%B') for x in df['Date'] ]

In [20]:
df2 = pd.DataFrame(df.groupby(["REGION","Date"])["Predicted Value"].sum().reset_index())
df2

    REGION       Date  Predicted Value
0        1 2015-01-01          22317.0
1        1 2015-02-01          22485.0
2        1 2015-03-01          23071.0
3        1 2015-04-01          24009.0
4        1 2015-05-01          24372.0
5        1 2015-06-01          24957.0
6        1 2015-07-01          25912.0
7        1 2015-08-01          26517.0
8        1 2015-09-01          27427.0
9        1 2015-10-01          27975.0
10       1 2015-11-01          28541.0
11       1 2015-12-01          28227.0
12       1 2016-01-01          28511.0
13       1 2016-02-01          29420.0
14       1 2016-03-01          30131.0
15       1 2016-04-01          30975.0
16       1 2016-05-01          31692.0
17       1 2016-06-01          32494.0
18       1 2016-07-01          33265.0
19       1 2016-08-01          34014.0
20       1 2016-09-01          34596.0
21       1 2016-10-01          35177.0
22       1 2016-11-01          36110.0
23       1 2016-12-01          37540.0
24       1 2017-01-01          38329.0
25       1 2017-02-01          38440.0
26       1 2017-03-01          39146.0
27       1 2017-04-01          39192.0
28       1 2017-05-01          39692.0
29       1 2017-06-01          40035.0
30       1 2017-07-01          40375.0
31       1 2017-08-01          40828.0
32       1 2017-09-01          41154.0
33       1 2017-10-01          41055.0
34       1 2017-11-01          40702.0
35       1 2017-12-01          40778.0
36       1 2018-01-01          40360.0
37       1 2018-02-01          40185.0
38       1 2018-03-01          39769.0
39       1 2018-04-01          39516.0
40       1 2018-05-01          39591.0
41       1 2018-06-01          49131.0
42       1 2018-07-01          49496.0
43       1 2018-08-01          49726.0
44       1 2018-09-01          49435.0
45       1 2018-10-01          50008.0
46       1 2018-11-01          50019.0
47       1 2018-12-01          49032.0
48       1 2019-01-01          48669.0
49       1 2019-02-01          49126.0
50       1 2019-03-01          49052.0
51       2 2015-01-01          11576.0
52       2 2015-02-01          13904.0
53       2 2015-03-01          17659.0
54       2 2015-04-01          23773.0
55       2 2015-05-01          24450.0
56       2 2015-06-01          24513.0
57       2 2015-07-01          24884.0
58       2 2015-08-01          25055.0
59       2 2015-09-01          25516.0
60       2 2015-10-01          25882.0
61       2 2015-11-01          26365.0
62       2 2015-12-01          26631.0
63       2 2016-01-01          27144.0
64       2 2016-02-01          30251.0
65       2 2016-03-01          30423.0
66       2 2016-04-01          31085.0
67       2 2016-05-01          32417.0
68       2 2016-06-01          33188.0
69       2 2016-07-01          34183.0
70       2 2016-08-01          35315.0
71       2 2016-09-01          36334.0
72       2 2016-10-01          36869.0
73       2 2016-11-01          37905.0
74       2 2016-12-01          39324.0
75       2 2017-01-01          40974.0
76       2 2017-02-01          42316.0
77       2 2017-03-01          42759.0
78       2 2017-04-01          43574.0
79       2 2017-05-01          44511.0
80       2 2017-06-01          45359.0
81       2 2017-07-01          45849.0
82       2 2017-08-01          46301.0
83       2 2017-09-01          46914.0
84       2 2017-10-01          47419.0
85       2 2017-11-01          51465.0
86       2 2017-12-01          47336.0
87       2 2018-01-01          45968.0
88       2 2018-02-01          48815.0
89       2 2018-03-01          48860.0
90       2 2018-04-01          44166.0
91       2 2018-05-01          43651.0
92       2 2018-06-01          43275.0
93       2 2018-07-01          43216.0
94       2 2018-08-01          43009.0
95       2 2018-09-01          42219.0
96       2 2018-10-01          54867.0
97       2 2018-11-01          54070.0
98       2 2018-12-01          53718.0
99       2 2019-01-01          53650.0
100      2 2019-02-01          53316.0
101      2 2019-03-01          53263.0
102      3 2015-01-01          34015.0
103      3 2015-02-01          34335.0
104      3 2015-03-01          34662.0
105      3 2015-04-01          38474.0
106      3 2015-05-01          38865.0
107      3 2015-06-01          39066.0
108      3 2015-07-01          39414.0
109      3 2015-08-01          43491.0
110      3 2015-09-01          44043.0
111      3 2015-10-01          44787.0
112      3 2015-11-01          44925.0
113      3 2015-12-01          45374.0
114      3 2016-01-01          45533.0
115      3 2016-02-01          46319.0
116      3 2016-03-01          47284.0
117      3 2016-04-01          48558.0
118      3 2016-05-01          49727.0
119      3 2016-06-01          51145.0
120      3 2016-07-01          52472.0
121      3 2016-08-01          53657.0
122      3 2016-09-01          54635.0
123      3 2016-10-01          55555.0
124      3 2016-11-01          57027.0
125      3 2016-12-01          58476.0
126      3 2017-01-01          60282.0
127      3 2017-02-01          61204.0
128      3 2017-03-01          62093.0
129      3 2017-04-01          63176.0
130      3 2017-05-01          63924.0
131      3 2017-06-01          64628.0
132      3 2017-07-01          64939.0
133      3 2017-08-01          65590.0
134      3 2017-09-01          66125.0
135      3 2017-10-01          66133.0
136      3 2017-11-01          66257.0
137      3 2017-12-01          66836.0
138      3 2018-01-01          65769.0
139      3 2018-02-01          70487.0
140      3 2018-03-01          71653.0
141      3 2018-04-01          71363.0
142      3 2018-05-01          71392.0
143      3 2018-06-01          71600.0
144      3 2018-07-01          71620.0
145      3 2018-08-01          71633.0
146      3 2018-09-01          71840.0
147      3 2018-10-01          71897.0
148      3 2018-11-01          71708.0
149      3 2018-12-01          70185.0
150      3 2019-01-01          70883.0
151      3 2019-02-01          70732.0
152      3 2019-03-01          70956.0
153      4 2015-01-01          20181.0
154      4 2015-02-01          19988.0
155      4 2015-03-01          20016.0
156      4 2015-04-01          20024.0
157      4 2015-05-01          19899.0
158      4 2015-06-01          20049.0
159      4 2015-07-01          20054.0
160      4 2015-08-01          20273.0
161      4 2015-09-01          20495.0
162      4 2015-10-01          21082.0
163      4 2015-11-01          20972.0
164      4 2015-12-01          20675.0
165      4 2016-01-01          21214.0
166      4 2016-02-01          21511.0
167      4 2016-03-01          22091.0
168      4 2016-04-01          22357.0
169      4 2016-05-01          22459.0
170      4 2016-06-01          22562.0
171      4 2016-07-01          22835.0
172      4 2016-08-01          22863.0
173      4 2016-09-01          22588.0
174      4 2016-10-01          22464.0
175      4 2016-11-01          22408.0
176      4 2016-12-01          22291.0
177      4 2017-01-01          22258.0
178      4 2017-02-01          22040.0
179      4 2017-03-01          21977.0
180      4 2017-04-01          22004.0
181      4 2017-05-01          22064.0
182      4 2017-06-01          25386.0
183      4 2017-07-01          25528.0
184      4 2017-08-01          25559.0
185      4 2017-09-01          25840.0
186      4 2017-10-01          26083.0
187      4 2017-11-01          26226.0
188      4 2017-12-01          26521.0
189      4 2018-01-01          26506.0
190      4 2018-02-01          26770.0
191      4 2018-03-01          26832.0
192      4 2018-04-01          27301.0
193      4 2018-05-01          27256.0
194      4 2018-06-01          27485.0
195      4 2018-07-01          27542.0
196      4 2018-08-01          27938.0
197      4 2018-09-01          27936.0
198      4 2018-10-01          27797.0
199      4 2018-11-01          27733.0
200      4 2018-12-01          27709.0
201      4 2019-01-01          28091.0
202      4 2019-02-01          28408.0
203      4 2019-03-01          28672.0